@page
@model MyApp.Namespace.CreateModel
@{

}

<h1> Insertar personas</h1> 
<br/>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Persona.Nombre" class="control-label"></label>
                    <input asp-for="Persona.Nombre" class="form-control">
                    <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persona.Apellido" class="control-label"></label>
                    <input asp-for="Persona.Apellido" class="form-control">
                    <span asp-validation-for="Persona.Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persona.Cedula" class="control-label"></label>
                    <input asp-for="Persona.Cedula" class="form-control">
                    <span asp-validation-for="Persona.Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persona.Email" class="control-label"></label>
                    <input asp-for="Persona.Email" class="form-control">
                    <span asp-validation-for="Persona.Email" class="text-danger"></span>
                </div>
                <br/>
                <div class ="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary"/>
                </div>
                <a asp-page="./List">Regresar</a>
        </form>
    </div>
</div>