@page
@model MyApp.Namespace.UpdateModel
@{
}
<h2>Información de persona actualizar:</h2>
<form method="POST">
    <input type="hidden" asp-for="Persona.Id">
    <div class="form-group">
        <label asp-for="Persona.Nombre"></label>
        <input asp-for="Persona.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="Persona.Nombre"></span>
    </div>
    <div>
        <label asp-for="Persona.Apellido"></label>
        <input asp-for="Persona.Apellido" class="form-control">
        <span class="text-danger" asp-validation-for="Persona.Apellido"></span>

    </div>
    <div>
        <label asp-for="Persona.Cedula"></label>
        <input asp-for="Persona.Cedula" class="form-control">
        <span class="text-danger" asp-validation-for="Persona.Cedula"></span>

    </div>
    <div>
        <label asp-for="Persona.Email"></label>
        <input asp-for="Persona.Email" class="form-control">
        <span class="text-danger" asp-validation-for="Persona.Email"></span>

    </div>
    <div>
        <br/>
        <button type="submit" class="btn btn-success">Guargar</button>
        <a asp-page="./List" class="btn btn-danger">
            Cancelar
        </a>
    </div>
</form>

<br/>
<a asp-page="./List" class="btn-default">Regresar</a>